.container {
    max-width: 800px;
    margin: auto;
  }
  
  .form-row {
    margin-bottom: 20px; /* Space between each question */
  }
  
  .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  label {
    flex: 1;
    margin-right: 20px; /* Space between label and input */
    text-align: right; /* Align text to the right */
  }
  
  .text-right {
    text-align: right; /* Optional: Ensures that the text is aligned right */
  }
  
  .p-inputtext,
  .p-inputtextarea {
    flex: 2; /* Allows the input fields to take more space */
  }
  